{include file="header.htm"}
<div id="app">
    <el-container >
        <el-header class="header">
            <span class="header_title">小胖熊</span> <span>- 配送员工资详情列表</span>
            <el-link :href="back_url" :underline="false" class="header_link">返回列表</el-link>
        </el-header>
        <el-main class="main">
            <el-row class="filter-container">
                <span class="filter-label">仓库库房</span>
                <el-cascader :options="warehouse_list" v-model="warehouse" :props="{label:'store_name',value:'store_id'}" class="filter-item"  style="min-width: 240px" size="mini" clearable placeholder="需先选择城市"></el-cascader>
                <span class="filter-label">订单类型</span>
                <el-select v-model="listQuery.order_type_id" class="filter-item" size="mini" clearable placeholder="请选择订单类型">
                    <el-option
                            v-for="item in order_type_list"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <span class="filter-label">订单号</span>
                <el-input size="mini" v-model="listQuery.order_sn" class="filter-item filter-item-w"  clearable placeholder="请输入类别关键词"></el-input>
                <span class="filter-label">发货单号</span>
                <el-input size="mini"v-model="listQuery.delivery_sn" class="filter-item filter-item-w"   clearable placeholder="请输入类别关键词"></el-input>
                <el-date-picker
                        v-model="listQuery.add_time_start"
                        align="right"
                        class="filter-item"
                        size="mini"
                        format ='yyyy-MM-dd'
                        value-format ='yyyy-MM-dd'
                        type="date"
                        placeholder="开始时间"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <el-date-picker
                        v-model="listQuery.add_time_end"
                        align="right"
                        type="date"
                        class="filter-item"
                        format ='yyyy-MM-dd'
                        value-format ='yyyy-MM-dd'
                        size="mini"
                        placeholder="结束时间"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <el-button class="filter-btn" size="mini" type="primary" icon="el-icon-search" @click="search_list">搜索</el-button>
                <el-button class="filter-btn" size="mini" icon="el-icon-refresh-left" @click="reset">重置</el-button>
                <el-button  class="filter-btn" size="mini" type="primary" @click="export_excel" icon="el-icon-download">导出列表</el-button>
            </el-row>
            <el-row  type="flex">
                <el-table
                        v-loading="loading"
                        :header-cell-style="{background:'#eef1f6',color:'#606266','border-right': '1px solid #DCDFE6', 'border-bottom': '1px solid #DCDFE6'}"
                        ref="singleTable"
                        :data="list"
                        max-height="860px"
                        v-loading ='loading'
                        highlight-current-row>
                    <el-table-column label="编号" property="rec_id"></el-table-column>
                    <el-table-column property="add_time" label="费用入账时间"></el-table-column>
                    <el-table-column property="store_name" label="仓库库房" show-overflow-tooltip></el-table-column>
                    <el-table-column property="order_type_name" label="订单类型" min-width="100"></el-table-column>
                    <el-table-column property="district_name" label="区域" min-width="100"></el-table-column>
                    <el-table-column property="order_sn" label="订单号" show-overflow-tooltip min-width="200"></el-table-column>
                    <el-table-column property="delivery_sn" label="发货单号" show-overflow-tooltip min-width="200"></el-table-column>
                    <el-table-column property="floor" label="楼层" min-width="80"></el-table-column>
                    <el-table-column label="费用明细（元）" align="center">
                        <el-table-column property="shipping_fee" label="配送费" min-width="100"></el-table-column>
                        <el-table-column property="banlou_fee" label="搬楼费" min-width="100"></el-table-column>
                        <el-table-column property="consign_fee" label="托运费" min-width="100"></el-table-column>
                        <el-table-column property="tonnage_fee" label="吨位费" min-width="100"></el-table-column>
                        <el-table-column property="expedit_fee" label="加急费" min-width="100"></el-table-column>
                        <el-table-column property="night_fee" label="夜班费" min-width="100"></el-table-column>
                        <el-table-column property="distance_fee" label="远程费" min-width="100"></el-table-column>
                        <el-table-column property="reward_money" label="奖励" min-width="100"></el-table-column>
                        <el-table-column property="punish_money" label="罚款" min-width="100"></el-table-column>
                    </el-table-column>
                    <el-table-column property="subtotal" label="合计（元）" min-width="150"></el-table-column>
                </el-table>
            </el-row>
            <el-row  class="pt-20 pr-20" >
                <el-col :span="24"  class="count_num text-r"  >总计：{{total_money}} 元</el-col>
            </el-row>
        </el-main>
    </el-container>
    <el-row class="pt-20 fr">
        <el-pagination
                :current-page.sync="listQuery.page"
                :page-size.sync="listQuery.size"
                :layout="layout"
                :page-sizes="pageSizes"
                :total="listQuery.total"
                v-bind="$attrs"
                @size-change="search_list"
                @current-change="search_list"/>
    </el-row>
</div>
<script>
    let opts = {
        el: '#app',
        data() {
            return {
                back_url: './driver_salary_online.php?act=delivery_sal_list',
                loading: false,
                source: 3,
                order_type_list: [],
                warehouse_list: [], // 仓库列表
                warehouse: [], // 仓库id 库房id
                total_money:0.00,
                driver_id:'',
                city:'',
                listQuery: {
                    view_source: 2,
                    size: 20,
                    page: 1,
                    total: 0
                },
                list: []
            }
        },
        watch: {
            'warehouse': {
                handler(newV, oldV) {
                    if(newV) {
                        _that.listQuery.store_id = newV[0] || ''
                        _that.listQuery.house_id = newV[1] || ''
                    }else {
                        _that.listQuery.store_id = ''
                        _that.listQuery.house_id = ''
                    }
                }
            }
        },
        created() {
            const {city, driver_id} = this.parseQuery()
            if(!city || !driver_id) {
                return this.$message({ type: 'error', message: '获取数据失败~' })
            }
            this.driver_id = driver_id
            this.city = city
            this.init_data()
        },
        /*公用函数*/
        methods : {
            async init_data() {
                const  { data } = await get_init_filter_data({ source: this.source })
                _that.order_type_list = data.order_type_list || []
                const warehouse = await get_warehouse({city:  _that.city , source: _that.source })
                _that.warehouse_list =  warehouse.data || []
                _that.get_details()
            },
            get_warehouse_list(city) {
                _that.warehouse_list = []
                if(city) {
                    get_warehouse({city: city, source: _that.source }).then(res => {
                        _that.warehouse_list = res.data || []
                    })
                }
            },
            change_status(row) {
                row.visible = false
            },
            get_details() {
                _that.listQuery.driver_id = _that.driver_id
                _that.loading = true
                getDriverSalaryDetailData(_that.listQuery).then(res => {
                    _that.list = res.data.data_list || []
                    _that.listQuery.total = res.data.data_total
                    _that.total_money = res.data.total_money
                    _that.loading = false
                }).catch(_=>{
                    _that.loading = false
                })
            },
            search_list() {
                this.page = 1
                this.get_details()
            },
            export_excel() {
                window.open('./')
            },
            reset() {
                this.listQuery = {
                    view_source: 2,
                    page_size: 20,
                    page: 1
                }
            }
        }
    }
    const _that = new  XVue(opts)
    console.log(_that);
</script>
<style lang="less">
  .red,.count_num{
    color:#F56C6C;
    font-size: 20px;
  }
  .filter-item-w {
      width: 240px !important;
  }
</style>
