{include file="./header.htm"}
<div id="app">
    <!-- 头部过滤项 -->
    <el-container>
        <el-header class="header">
            <span class="header_title">小胖熊</span> <span>- 计件规则日记列表</span>
            <el-link :href="back_url" :underline="false" class="header_link"><i class="el-icon-arrow-left"></i> 返回计件规则列表</el-link>
        </el-header>
        <el-main style="padding:0px">
            <el-row class="filter-container">
                <span class="filter-label">城市</span>
                <el-select v-model="listQuery.city" class="filter-item" size="mini" @change="change_city" clearable placeholder="请选择城市">
                    <el-option
                            v-for="item in city_list"
                            :key="item.region_id"
                            :label="item.region_name"
                            :value="item.region_id">
                    </el-option>
                </el-select>
                <span class="filter-label">仓库库房</span>
                <el-cascader :key="listQuery.city" :options="warehouse_list" v-model="warehouse" :props="{label:'store_name',value:'store_id'}" class="filter-item"  style="min-width: 240px" size="mini" clearable placeholder="需先选择城市"></el-cascader>
                <span class="filter-label">商品类别</span>
                <el-input type="mini" v-model="listQuery.goods_type_name"  class="filter-item" style="min-width: 200px" size="mini" clearable placeholder="请输入类别关键词"></el-input>
                <span class="filter-label">规则类别</span>
                <el-select v-model="listQuery.piece_counting_type" class="filter-item" size="mini"  clearable placeholder="请选择状态">
                    <el-option
                            v-for="item in piece_count_rule_type_list "
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <span class="filter-label">操作类型</span>
                <el-select v-model="listQuery.operate_type"  size="mini" class="filter-item"  placeholder="请选择操作类型">
                    <el-option
                            v-for="item in operate_type_list"
                            :key="item.operate_type"
                            :label="item.type_name"
                            :value="item.operate_type">
                    </el-option>
                </el-select>
                <span class="filter-label">操作日期</span>
                <el-date-picker
                        class="filter-item"
                        size="mini"
                        v-model="listQuery.operate_time_start"
                        align="right"
                        type="date"
                        value-format ='yyyy-MM-dd'
                        placeholder="开始时间"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <el-date-picker
                        v-model="listQuery.operate_time_end"
                        align="right"
                        class="filter-item"
                        size="mini"
                        value-format ='yyyy-MM-dd'
                        type="date"
                        placeholder="结束时间"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <el-button class="filter-btn" size="mini" type="primary" icon="el-icon-search" @click="search_list">搜索</el-button>
                <el-button class="filter-btn" size="mini" icon="el-icon-refresh-left" @click="reset">重置</el-button>
            </el-row>
            <el-row  type="flex">
                <el-table
                        :header-cell-style="{background:'#eef1f6',color:'#606266'}"
                        ref="singleTable"
                        :data="list"
                        max-height="860px"
                        v-loading ='loading'
                        highlight-current-row>
                    <el-table-column label="编号" property="rule_id"></el-table-column>
                    <el-table-column property="region_name" label="城市"></el-table-column>
                    <el-table-column property="store_name" label="仓库库房" min-width="200"></el-table-column>
                    <el-table-column property="goods_type_name" label="商品类别" min-width="150"></el-table-column>
                    <el-table-column property="piece_counting_type_name" label="规则类别" min-width="150"></el-table-column>
                    <el-table-column property="client_mobile" label="操作类型" min-width="150"></el-table-column>
                    <el-table-column property="operate_time" label="操作时间" min-width="150"></el-table-column>
                    <el-table-column property="user_name" label="操作人" min-width="150"></el-table-column>
                    <el-table-column property="operate_log" label="操作记录" min-width="200"></el-table-column>
                </el-table>
            </el-row>
            <el-row class="pt-20 fr">
                <el-pagination
                        :current-page.sync="listQuery.page"
                        :page-size.sync="listQuery.size"
                        :layout="layout"
                        :page-sizes="pageSizes"
                        :total="listQuery.total"
                        v-bind="$attrs"
                        @size-change="search_list"
                        @current-change="search_list"/>
            </el-row>
        </el-main>
    </el-container>
</div>
<script>
    let opts = {
        el: '#app',
        data() {
            return {
                back_url: './driver_salary_online.php?act=piecework_rules_list',
                loading: false,
                source: 1,
                city_list: [],
                enable_list: [],
                goods_cat_list: [],// 商品分类
                warehouse_list: [], // 仓库列表
                warehouse: [], // 仓库id 库房id
                piece_count_rule_type_list: [],
                operate_type_list: [],
                listQuery: {
                    size: 20,
                    page: 1,
                    total: 0
                },
                list: []
            }
        },
        watch: {
            'warehouse': {
                handler(newV, oldV) {
                    if(newV) {
                        _that.listQuery.store_id = newV[0] || ''
                        _that.listQuery.house_id = newV[1] || ''
                    }else {
                        _that.listQuery.store_id = ''
                        _that.listQuery.house_id = ''
                    }
                }
            }
        },
        created() {
            this.init_data()
        },
        /*公用函数*/
        methods : {
            async init_data() {
                const _that = this
                const  { data } = await get_init_filter_data({ source: this.source })
                _that.city_list = data.city_list || []
                _that.enable_list = data.enable_list || []
                _that.piece_count_rule_type_list = data.piece_count_rule_type_list || []
                _that.operate_type_list = data.operate_type_list
                _that.get_list()
            },
            change_city(city) {
                this.warehouse_list = []
                this.warehouse = []
                get_warehouse({city: city, source: _that.source}).then(res => {
                    this.warehouse_list = res.data || []
                })
            },
            get_list() {
                _that.loading = true
                PieceCountingRuleLogList(_that.listQuery).then(res => {
                    _that.loading = false
                    _that.list = res.data.data_list || []
                    _that.listQuery.total = res.data.data_total || 0
                }).catch(_=> {
                    _that.loading = false
                })
            },
            search_list() {
                this.page = 1
                this.get_list()
            },
            reset() {
                this.listQuery = {
                    size: 20,
                    page: 1
                }
                this.warehouse = []
                _that.get_list()
            }
        }
    }
    const _that = new  XVue(opts)
</script>

