{include file="./driver_salary_online/header.htm"}
<!-- 计件规则列表 -->
<div id="app">
    <el-container>
        <el-header class="header">
            <span class="header_title">小胖熊</span> <span>- 计件规则列表</span>
            <el-link :href="add_href" :underline="false" class="header_link">添加计件规则</el-link>
            <el-link :href="log_list_url" :underline="false" class="header_link mr-10">日记列表</el-link>
        </el-header>
        <el-main style="padding:0px">
            <el-row class="filter-container">
                <span class="filter-label">城市</span>
                <el-select v-model="listQuery.city" class="filter-item" size="mini" @change="change_city" clearable placeholder="请选择城市">
                    <el-option
                            v-for="item in city_list"
                            :key="item.region_id"
                            :label="item.region_name"
                            :value="item.region_id">
                    </el-option>
                </el-select>
                <span class="filter-label">仓库库房</span>
                <el-cascader :key="listQuery.city" :options="warehouse_list" v-model="warehouse" :props="{label:'store_name',value:'store_id'}" class="filter-item"  style="min-width: 240px" size="mini" clearable placeholder="需先选择城市"></el-cascader>
                <span class="filter-label">商品类别</span>
                <el-input type="mini" v-model="listQuery.goods_type_name"  class="filter-item" style="min-width: 200px" size="mini" clearable placeholder="请输入类别关键词"></el-input>
                <span class="filter-label">规则类别</span>
                <el-select v-model="listQuery.piece_counting_type" class="filter-item" size="mini"  clearable placeholder="请选择状态">
                    <el-option
                            v-for="item in piece_count_rule_type_list "
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <span class="filter-label">状态</span>
                <el-select v-model="listQuery.is_enable" class="filter-item" size="mini" clearable placeholder="请选择状态">
                    <el-option
                            v-for="item in enable_list"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <el-button class="filter-btn" size="mini" type="primary" icon="el-icon-search" @click="search_list">搜索</el-button>
                <el-button class="filter-btn" size="mini" icon="el-icon-refresh-left" @click="reset">重置</el-button>
            </el-row>
            <el-row class="" type="flex">
                <el-table
                        :header-cell-style="{background:'#eef1f6',color:'#606266', 'font-size':'14px'}"
                        ref="singleTable"
                        :data="list"
                        max-height="800px"
                        v-loading ='loading'
                        highlight-current-row>
                    <el-table-column label="编号"  property="rule_id"></el-table-column>
                    <el-table-column property="region_name" label="城市"></el-table-column>
                    <el-table-column property="store_name" label="仓库库房" min-width="200" ></el-table-column>
                    <el-table-column property="goods_cat_name" label="商品分类" min-width="150" show-overflow-tooltip></el-table-column>
                    <el-table-column property="goods_type_name" label="商品类别" min-width="150"></el-table-column>
                    <el-table-column property="piece_counting_type_name" label="规则类别" min-width="150"></el-table-column>
                    <el-table-column property="expire_date" label="有效期" min-width="200"></el-table-column>
                    <el-table-column property="user_name" label="创建人" min-width="150"></el-table-column>
                    <el-table-column property="add_time" label="创建时间" min-width="150"></el-table-column>
                    <el-table-column  label="当前状态"  min-width="100" >
                        <template slot-scope="{ row }" >
                            <el-tag v-if="row.is_enable == 1" type="success">已启用</el-tag>
                            <el-tag v-else type="info">已禁用</el-tag>
                            <!-- <el-popover
                                     :title=" row.is_enable == 0 ? '你确定要启用吗？': '你确定要禁用吗？' "
                                     placement="top"
                                     width="160"
                                     @hide=""
                                     v-model="row.visible">
                                 <div style="text-align: right; margin: 0">
                                     <el-button size="mini" type="text" @click="() =>{}">取消</el-button>
                                     <el-button type="primary" size="mini" @click="change_status(row)">确定</el-button>
                                 </div>
                                 <a slot="reference">
                                     <span v-if="row.is_enable == 1">
                                       <el-switch
                                               style="height: 28px;line-height: 18px; margin-left: inherit;margin-left: -30px;"
                                               active-text="启用"
                                               inactive-text="禁用">
                                         </el-switch>
                                     </span>
                                     <span v-else>
                                       <el-switch  style="height: 28px;line-height: 18px; margin-left: inherit;margin-left: -30px;" inactive-text="启用"></el-switch>
                                     </span>
                                 </a>
                             </el-popover>-->
                        </template>
                    </el-table-column>
                    <el-table-column  label="操作"  min-width="200" >
                        <template slot-scope="{ row }"  >
                            <el-link  :href="view_href +'&rule_id='+ row.rule_id"  class="mr-5" :underline="false">查看</el-link>
                            <el-link  @click="edit_show(row)" type="primary" class="mr-5" :underline="false">编辑</el-link>
                            <el-link  :href="add_href +'&rule_id='+ row.rule_id" type="primary" class="mr-5" :underline="false">复制</el-link>
                            <el-popover
                                    :title=" row.is_enable == 0 ? '你确定要启用吗？': '你确定要禁用吗？' "
                                    placement="top"
                                    width="160"
                                    @hide=""
                                    v-model="row.visible">
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="row.visible = false">取消</el-button>
                                    <el-button type="primary" size="mini" @click="change_status(row)">确定</el-button>
                                </div>
                                <span slot="reference">
                            <el-link  v-if="row.is_enable == 1" type="danger" class="mr-5"  type="primary" :underline="false">禁用</el-link>
                            <el-link v-else type="success" class="mr-5" :underline="false">启用</el-link>
                        </span>
                            </el-popover>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
            <el-row class="pt-20 fr">
                <el-pagination
                        :current-page.sync="listQuery.page"
                        :page-size.sync="listQuery.size"
                        :layout="layout"
                        :page-sizes="pageSizes"
                        :total="listQuery.total"
                        v-bind="$attrs"
                        @size-change="search_list"
                        @current-change="search_list"/>
            </el-row>
        </el-main>
    </el-container>
    <!--添加商品列表-->
    <el-dialog title="编辑有效时间" :visible.sync="show_edit" width="600px" >
        <el-form  ref="form"  :model="form"  class="pl-20" size="mini">
            <el-form-item label="有效时间"   prop="date">
                <el-date-picker
                        v-model="form.date"
                        type="datetimerange"
                        format="yyyy-MM-dd"
                        value-format="yyyy-MM-dd"
                        :default-time="['00:00:00']"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item >
                <el-row>
                    <el-col class="text-r" :span="20">
                        <el-button v-loading="edit_loading"  @click="() => { show_edit= false ; form = {} }" size="small">取消  </el-button>
                        <el-button type="primary" v-loading="edit_loading"  @click="edit_date" size="small">保存  </el-button>
                    </el-col>
                </el-row>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
<script>
    let opts = {
        el: '#app',
        data() {
            return {
                view_href: './driver_salary_online.php?act=piecework_rules_view',
                add_href: './driver_salary_online.php?act=piecework_rules_add',
                log_list_url: './driver_salary_online.php?act=piecework_rules_log_list',
                loading: false,
                show_edit : false,
                edit_loading : false,
                source: 1,
                city_list: [],
                enable_list: [],
                goods_cat_list: [],// 商品分类
                warehouse_list: [], // 仓库列表
                warehouse: [], // 仓库id 库房id
                piece_count_rule_type_list: [],
                listQuery: {
                    size: 20,
                    page: 1,
                    total: 0
                },
                form: {
                    date: []
                },
                list: []
            }
        },
        watch: {
            'warehouse': {
                handler(newV, oldV) {
                    if(newV) {
                        _that.listQuery.store_id = newV[0] || ''
                        _that.listQuery.house_id = newV[1] || ''
                    }else {
                        _that.listQuery.store_id = ''
                        _that.listQuery.house_id = ''
                    }
                }
            }
        },
        created() {
            this.init_data()
        },
        /*公用函数*/
        methods : {
            async init_data() {
                const _that = this
                const  { data } = await get_init_filter_data({ source: this.source })
                _that.city_list = data.city_list || []
                _that.enable_list = data.enable_list || []
                _that.piece_count_rule_type_list = data.piece_count_rule_type_list || []
                _that.get_list()
            },
            change_status(row) {
                disablePieceCountingRuleOne({ rule_id: row.rule_id }).then(res => {
                    if(res.code == 200 ) {
                        row.is_enable == 1 ?  _that.$set(row, 'is_enable', 0) : _that.$set(row, 'is_enable', 1)
                    }
                    _that.loading = false
                    row.visible = false
                }).catch(_ => {
                    _that.loading = false
                })

            },
            change_city(city) {
                _that.warehouse_list = []
                _that.warehouse =[]
                if(city) {
                    get_warehouse({city: city, source: _that.source}).then(res => {
                        _that.warehouse_list = res.data || []
                    })
                }
            },
            get_list() {
                _that.loading = true
                $get(_that.listQuery, 'pieceCountingRuleList').then(res => {
                    _that.loading = false
                    _that.list = res.data.data_list || []
                    _that.listQuery.total = res.data.data_total || 0
                }).catch(_=> {
                    _that.loading = false
                })
            },
            search_list() {
                this.page = 1
                this.get_list()
            },
            edit_show(row){
                _that.form = JSON.parse(JSON.stringify(row))
                _that.$set(_that.form, 'date',[ _that.form.expire_date_start, _that.form.expire_date_end]  )
                _that.show_edit = true
            },
            edit_date() {
                if(!_that.form.date || _that.form.date.length < 2) {
                    return _that.$message({ type: 'warning', message: '请选择有效时间~' })
                }
                const params = {expire_date_start:_that.form.date[0], expire_date_end: _that.form.date[1], rule_id: _that.form.rule_id }
                PieceCountingRuleEdit(params).then(res => {
                    _that.edit_loading = false
                    _that.get_list()
                    _that.show_edit = false
                }).catch(_ => {
                    _that.edit_loading = false
                })
            },
            reset() {
                this.listQuery = {
                    size: 20,
                    page: 1,
                    total: 0
                }
                _that.warehouse_list = []
                _that.warehouse =[]
                this.get_list()
            }
        }
    }
    const _that = new  XVue(opts)
</script>
<style lang="less">
    .label-right{
        width: 260px;
    }
    .el-switch__label--left {
        position: relative;
        left: 60px;
        color: #fff;
        z-index: -1111;
        height: 16px;

    }

    .el-switch__label--right {
        position: relative;
        right: 60px;
        color: #fff;
        z-index: -1111;
        height: 16px;

    }

    .el-switch__label--right.is-active {
        z-index: 1111;
        height: 16px;
        color: #fff !important;
    }

    .el-switch__label--left.is-active {
        z-index: 1111;
        color: #9c9c9c !important;
        height: 16px;

    }
    .el-switch__core{
        width: 60px !important;
    }
</style>
